.root
  .container.max-lg.mq-sm-down(data-class="max-sm")
    .row
      .col-lg-2.pa-0
      .col-lg-9.pa-0
        .about
          .reward
            .item
              figure
                |
                |
                img(src=assets+'/images/maskulino/reward1.svg' alt='badge')/
                |
                |
              p.use-text-paragraph Special Mention
              h5.use-text-subtitle Awards
            .item
              figure
                |
                |
                img(src=assets+'/images/maskulino/reward2.svg' alt='badge')/
                |
                |
              p.use-text-paragraph 100k videos
              h5.use-text-subtitle Subscriber
            .item
              figure
                |
                |
                img(src=assets+'/images/maskulino/reward3.svg' alt='badge')/
                |
                |
              p.use-text-paragraph Best Filmography
              h5.use-text-subtitle Footage
          .hidden-md-up
            .socmed
              |
              |
              a.btn-icon.margin.waves-effect(href="#")
                i.ion-logo-facebook
              |
              |
              a.btn-icon.margin.waves-effect(href="#")
                i.ion-logo-twitter
              |
              |
              a.btn-icon.margin.waves-effect(href="#")
                i.ion-logo-instagram
              |
              |
              a.btn-icon.margin.waves-effect(href="#")
                i.ion-logo-linkedin
              |
              |
          .hidden-md-up
            h5 #{$t.maskulino_landing.banner_desc}
          .card.photo
            figure
              |
              |
              img(src=brand.maskulino.avatar alt='avatar')/
              |
              |
            span.frame
        .line
